{% load i18n %}{% autoescape off %}
{% blocktranslate %}You recently requested to reset your password.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate 'Your username, in case you forgotten:' %} {{ user.get_username }}
{% translate "Please remember that your password is confidential and should never be shared with others." %}

{% blocktranslate %}The Research Team{% endblocktranslate %}

{% endautoescape %}